# Only browsers that support ALL ES2022 features natively
# This eliminates ALL polyfills

[production]
Chrome >= 87
Edge >= 88
Firefox >= 78
Safari >= 14
not IE 11
not dead
not op_mini all

[development]
last 1 chrome version
last 1 firefox version
last 1 safari version
